openapi: 3.1.0
info:
  title: Cisco Webex Attachment Actions API
  description: >-
    Create and retrieve attachment actions for adaptive card interactions.
    Used with Buttons and Cards to capture user input from interactive card
    elements submitted in Webex messaging spaces.
  version: 1.0.0
  contact:
    name: Cisco Webex Developer Support
    url: https://developer.webex.com/support
  license:
    name: Cisco Webex API Terms of Service
    url: https://developer.webex.com/terms-of-service
servers:
  - url: https://webexapis.com/v1
    description: Webex Production API
security:
  - bearerAuth: []
tags:
  - name: Attachment Actions
    description: Operations for managing adaptive card attachment actions
paths:
  /attachment/actions:
    post:
      operationId: createAttachmentAction
      summary: Cisco Webex Create an Attachment Action
      description: >-
        Creates an attachment action representing a user's interaction with
        an adaptive card. The action captures the user's input from the
        card form fields.
      tags:
        - Attachment Actions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAttachmentActionRequest'
      responses:
        '202':
          description: Attachment action created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentAction'
        '400':
          description: Bad request - invalid input parameters.
        '401':
          description: Unauthorized - invalid or missing access token.
  /attachment/actions/{id}:
    get:
      operationId: getAttachmentActionDetails
      summary: Cisco Webex Get Attachment Action Details
      description: >-
        Shows details for an attachment action by ID. Returns the action
        metadata and user-provided input data from the adaptive card.
      tags:
        - Attachment Actions
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier for the attachment action.
          schema:
            type: string
      responses:
        '200':
          description: Successful response with attachment action details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachmentAction'
        '404':
          description: Attachment action not found.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Webex API access token. Obtain via OAuth 2.0 authorization flow or
        personal access token from developer.webex.com.
  schemas:
    AttachmentAction:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the attachment action.
        type:
          type: string
          description: The type of action.
          enum:
            - submit
        messageId:
          type: string
          description: The parent message ID containing the adaptive card.
        personId:
          type: string
          description: The person ID who performed the action.
        roomId:
          type: string
          description: The room ID where the action occurred.
        inputs:
          type: object
          description: >-
            User-provided form data from the adaptive card. Keys correspond
            to the input field IDs defined in the card.
          additionalProperties: true
        created:
          type: string
          format: date-time
          description: Date and time the action was created.
    CreateAttachmentActionRequest:
      type: object
      required:
        - type
        - messageId
        - inputs
      properties:
        type:
          type: string
          description: The type of action. Currently only 'submit' is supported.
          enum:
            - submit
        messageId:
          type: string
          description: The message ID containing the adaptive card.
        inputs:
          type: object
          description: User input data from the adaptive card fields.
          additionalProperties: true
